.brand-card {
    &__img {
        width: 100%;
        height: 300px;
        border: 1px solid #eeecee;
    }

    &__name {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
