.float {
    &-right {
        float: right;
    }

    &-left {
        float: left;
    }
}

.text {
    &--center {
        text-align: center;
    }

    &--big {
        font-size: big;
    }
}

.img {
    &--round {
        border-radius: 50%;
    }

    &--border-black {
        border: 1px solid black;
    }
}
