.float {
    &-right {
        float: right;
    }

    &-left {
        float: left;
    }
}

.text {
    &-center {
        text-align: center;
        input {
            text-align: center;
        }
    }

    &-big {
        font-size: big;
    }

    &-red {
        color: red;
    }

    &-bold {
        font-weight: bold;
    }
}

.img {
    &--round {
        border-radius: 50%;
    }

    &--border-black {
        border: 1px solid black;
    }
}

.bg {
    &-success {
        background-color: #ccf6c8;
        color: black;
    }

    &-warning {
        background-color: #fafcc2;
        color: black;
    }

    &-danger {
        background-color: #aa3a3a;
        color: white;
    }
}
